$imp: !important;
$nn: none;
$warna: (
    hitam       : #0c0c0c,
    abutua      : #7a7a7a,
    abumuda     : #dddddd,
    trans       : transparent,
    putih       : #f7f7f7,
    oranye      : #f16923,
    hijau       : #32be8f,
    hijaumuda   : #c6c247,
    kuning      : #faca4a,   
);