.bg-hitam {
  background: #0c0c0c !important;
}

.text-hitam, .poppins, .montserrat, .card label, select {
  color: #0c0c0c;
}

.border-hitam {
  border: 1px solid #0c0c0c !important;
}

.hr-hitam {
  border-top: 1px solid #0c0c0c !important;
}

.br-hitam {
  border-right: 1px solid #0c0c0c !important;
}

.bg-abutua {
  background: #7a7a7a !important;
}

.text-abutua {
  color: #7a7a7a;
}

.border-abutua {
  border: 1px solid #7a7a7a !important;
}

.hr-abutua {
  border-top: 1px solid #7a7a7a !important;
}

.br-abutua {
  border-right: 1px solid #7a7a7a !important;
}

.bg-abumuda {
  background: #dddddd !important;
}

.text-abumuda {
  color: #dddddd;
}

.border-abumuda, .page-item.active .page-link {
  border: 1px solid #dddddd !important;
}

.hr-abumuda {
  border-top: 1px solid #dddddd !important;
}

.br-abumuda {
  border-right: 1px solid #dddddd !important;
}

.bg-trans {
  background: transparent !important;
}

.text-trans {
  color: transparent;
}

.border-trans {
  border: 1px solid transparent !important;
}

.hr-trans {
  border-top: 1px solid transparent !important;
}

.br-trans {
  border-right: 1px solid transparent !important;
}

.bg-putih {
  background: #f7f7f7 !important;
}

.text-putih, .btn-login {
  color: #f7f7f7;
}

.border-putih {
  border: 1px solid #f7f7f7 !important;
}

.hr-putih {
  border-top: 1px solid #f7f7f7 !important;
}

.br-putih {
  border-right: 1px solid #f7f7f7 !important;
}

.bg-oranye {
  background: #f16923 !important;
}

.text-oranye {
  color: #f16923;
}

.border-oranye {
  border: 1px solid #f16923 !important;
}

.hr-oranye {
  border-top: 1px solid #f16923 !important;
}

.br-oranye {
  border-right: 1px solid #f16923 !important;
}

.bg-hijau, .page-item.active .page-link, .btn-primary {
  background: #32be8f !important;
}

.text-hijau, #navbar a, #navbar #logo {
  color: #32be8f;
}

.border-hijau {
  border: 1px solid #32be8f !important;
}

.hr-hijau {
  border-top: 1px solid #32be8f !important;
}

.br-hijau {
  border-right: 1px solid #32be8f !important;
}

.bg-hijaumuda {
  background: #c6c247 !important;
}

.text-hijaumuda {
  color: #c6c247;
}

.border-hijaumuda {
  border: 1px solid #c6c247 !important;
}

.hr-hijaumuda {
  border-top: 1px solid #c6c247 !important;
}

.br-hijaumuda {
  border-right: 1px solid #c6c247 !important;
}

.bg-kuning {
  background: #faca4a !important;
}

.text-kuning {
  color: #faca4a;
}

.border-kuning {
  border: 1px solid #faca4a !important;
}

.hr-kuning {
  border-top: 1px solid #faca4a !important;
}

.br-kuning {
  border-right: 1px solid #faca4a !important;
}

/*TEXT AND PARAGRAPH*/
.fs-5 {
  font-size: 5px !important;
}

.fs-6 {
  font-size: 6px !important;
}

.fs-7 {
  font-size: 7px !important;
}

.fs-8 {
  font-size: 8px !important;
}

.fs-9, h6, .form-rb {
  font-size: 9px !important;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-11, .btn, label {
  font-size: 11px !important;
}

.fs-12, h5 {
  font-size: 12px !important;
}

.fs-13, select {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15, h4 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-17 {
  font-size: 17px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-19 {
  font-size: 19px !important;
}

.fs-20, h3 {
  font-size: 20px !important;
}

.fs-21 {
  font-size: 21px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-23 {
  font-size: 23px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-25, h2 {
  font-size: 25px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-27 {
  font-size: 27px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-29 {
  font-size: 29px !important;
}

.fs-30, h1 {
  font-size: 30px !important;
}

.fs-31 {
  font-size: 31px !important;
}

.fs-32 {
  font-size: 32px !important;
}

.fs-33 {
  font-size: 33px !important;
}

.fs-34 {
  font-size: 34px !important;
}

.fs-35 {
  font-size: 35px !important;
}

.fs-36 {
  font-size: 36px !important;
}

.fs-37 {
  font-size: 37px !important;
}

.fs-38 {
  font-size: 38px !important;
}

.fs-39 {
  font-size: 39px !important;
}

.fs-40 {
  font-size: 40px !important;
}

.fs-41 {
  font-size: 41px !important;
}

.fs-42 {
  font-size: 42px !important;
}

.fs-43 {
  font-size: 43px !important;
}

.fs-44 {
  font-size: 44px !important;
}

.fs-45 {
  font-size: 45px !important;
}

.fs-46 {
  font-size: 46px !important;
}

.fs-47 {
  font-size: 47px !important;
}

.fs-48 {
  font-size: 48px !important;
}

.fs-49 {
  font-size: 49px !important;
}

.fs-50 {
  font-size: 50px !important;
}

.fs-51 {
  font-size: 51px !important;
}

.fs-52 {
  font-size: 52px !important;
}

.fs-53 {
  font-size: 53px !important;
}

.fs-54 {
  font-size: 54px !important;
}

.fs-55 {
  font-size: 55px !important;
}

.fs-56 {
  font-size: 56px !important;
}

.fs-57 {
  font-size: 57px !important;
}

.fs-58 {
  font-size: 58px !important;
}

.fs-59 {
  font-size: 59px !important;
}

.fs-60 {
  font-size: 60px !important;
}

.ls-1 {
  letter-spacing: 1px !important;
}

.h-1 {
  height: 10px;
}

.w-1 {
  width: 10px;
}

.w25 {
  width: 25% !important;
}

.ls-2 {
  letter-spacing: 2px !important;
}

.h-2 {
  height: 20px;
}

.w-2 {
  width: 20px;
}

.w50 {
  width: 50% !important;
}

.ls-3, .btn-login {
  letter-spacing: 3px !important;
}

.h-3 {
  height: 30px;
}

.w-3 {
  width: 30px;
}

.w75 {
  width: 75% !important;
}

.ls-4 {
  letter-spacing: 4px !important;
}

.h-4 {
  height: 40px;
}

.w-4 {
  width: 40px;
}

.w100 {
  width: 100% !important;
}

.ls-5 {
  letter-spacing: 5px !important;
}

.h-5 {
  height: 50px;
}

.w-5 {
  width: 50px;
}

.w125 {
  width: 125% !important;
}

.lh1 {
  line-height: 1px !important;
}

.lh2 {
  line-height: 2px !important;
}

.lh3 {
  line-height: 3px !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500, .form-rb {
  font-weight: 500 !important;
}

.fw-600, select, .card-body .form-control, label {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.fw-1000 {
  font-weight: 1000 !important;
}

.alignr {
  text-align: right;
}

.alignl {
  text-align: left;
}

.alignc, #navbar a {
  text-align: center;
}

.alignj {
  text-align: justify;
}

.fw, .login-content h2 {
  font-weight: bold;
}

.tfnone {
  text-transform: none !important;
}

.tdnone {
  text-decoration: none !important;
}

.upper {
  text-transform: uppercase !important;
}

.capital {
  text-transform: capitalize !important;
}

/* MARGIN AND PADDING */
.t0 {
  top: 0 !important;
}

.b0 {
  bottom: 0 !important;
}

.r0 {
  right: 0 !important;
}

.l0 {
  left: 0 !important;
}

.m-0, h1, h2, h3, h4, h5, h6 {
  margin: 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.p-0, .log, .dataTables_wrapper {
  padding: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pb-0, .form-rb {
  padding-bottom: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.m-5 {
  margin: 5px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.p-5 {
  padding: 5px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10, .login-content img {
  margin-bottom: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.ml-10, .i {
  margin-left: 10px !important;
}

.p-10, input[type=search], .form-rb {
  padding: 10px !important;
}

.pt-10, .btn {
  padding-top: 10px !important;
}

.pb-10, .btn {
  padding-bottom: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.p-15 {
  padding: 15px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20, .login-content h2 {
  margin-bottom: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.p-20 {
  padding: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pr-20, .btn {
  padding-right: 20px !important;
}

.pl-20, .btn {
  padding-left: 20px !important;
}

.m-25 {
  margin: 25px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.p-25 {
  padding: 25px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.m-30 {
  margin: 30px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.p-30 {
  padding: 30px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pr-30, .login {
  padding-right: 30px !important;
}

.pl-30, .login {
  padding-left: 30px !important;
}

.m-35 {
  margin: 35px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.p-35 {
  padding: 35px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.pr-35 {
  padding-right: 35px !important;
}

.pl-35 {
  padding-left: 35px !important;
}

.m-40 {
  margin: 40px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.p-40 {
  padding: 40px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.m-45 {
  margin: 45px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.ml-45 {
  margin-left: 45px !important;
}

.p-45 {
  padding: 45px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

.pb-45 {
  padding-bottom: 45px !important;
}

.pr-45 {
  padding-right: 45px !important;
}

.pl-45 {
  padding-left: 45px !important;
}

.m-50 {
  margin: 50px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.p-50 {
  padding: 50px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.m-55 {
  margin: 55px !important;
}

.mt-55 {
  margin-top: 55px !important;
}

.mb-55 {
  margin-bottom: 55px !important;
}

.mr-55 {
  margin-right: 55px !important;
}

.ml-55 {
  margin-left: 55px !important;
}

.p-55 {
  padding: 55px !important;
}

.pt-55 {
  padding-top: 55px !important;
}

.pb-55 {
  padding-bottom: 55px !important;
}

.pr-55 {
  padding-right: 55px !important;
}

.pl-55 {
  padding-left: 55px !important;
}

.m-60 {
  margin: 60px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

.ml-60 {
  margin-left: 60px !important;
}

.p-60 {
  padding: 60px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pr-60 {
  padding-right: 60px !important;
}

.pl-60 {
  padding-left: 60px !important;
}

.m-65 {
  margin: 65px !important;
}

.mt-65 {
  margin-top: 65px !important;
}

.mb-65 {
  margin-bottom: 65px !important;
}

.mr-65 {
  margin-right: 65px !important;
}

.ml-65 {
  margin-left: 65px !important;
}

.p-65 {
  padding: 65px !important;
}

.pt-65 {
  padding-top: 65px !important;
}

.pb-65 {
  padding-bottom: 65px !important;
}

.pr-65 {
  padding-right: 65px !important;
}

.pl-65 {
  padding-left: 65px !important;
}

.m-70 {
  margin: 70px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mr-70 {
  margin-right: 70px !important;
}

.ml-70 {
  margin-left: 70px !important;
}

.p-70 {
  padding: 70px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.pr-70 {
  padding-right: 70px !important;
}

.pl-70 {
  padding-left: 70px !important;
}

.m-75 {
  margin: 75px !important;
}

.mt-75 {
  margin-top: 75px !important;
}

.mb-75 {
  margin-bottom: 75px !important;
}

.mr-75 {
  margin-right: 75px !important;
}

.ml-75 {
  margin-left: 75px !important;
}

.p-75 {
  padding: 75px !important;
}

.pt-75 {
  padding-top: 75px !important;
}

.pb-75 {
  padding-bottom: 75px !important;
}

.pr-75 {
  padding-right: 75px !important;
}

.pl-75 {
  padding-left: 75px !important;
}

.m-80 {
  margin: 80px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mr-80 {
  margin-right: 80px !important;
}

.ml-80 {
  margin-left: 80px !important;
}

.p-80 {
  padding: 80px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.pr-80 {
  padding-right: 80px !important;
}

.pl-80 {
  padding-left: 80px !important;
}

.m-85 {
  margin: 85px !important;
}

.mt-85 {
  margin-top: 85px !important;
}

.mb-85 {
  margin-bottom: 85px !important;
}

.mr-85 {
  margin-right: 85px !important;
}

.ml-85 {
  margin-left: 85px !important;
}

.p-85 {
  padding: 85px !important;
}

.pt-85 {
  padding-top: 85px !important;
}

.pb-85 {
  padding-bottom: 85px !important;
}

.pr-85 {
  padding-right: 85px !important;
}

.pl-85 {
  padding-left: 85px !important;
}

.m-90 {
  margin: 90px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mr-90 {
  margin-right: 90px !important;
}

.ml-90 {
  margin-left: 90px !important;
}

.p-90 {
  padding: 90px !important;
}

.pt-90 {
  padding-top: 90px !important;
}

.pb-90 {
  padding-bottom: 90px !important;
}

.pr-90 {
  padding-right: 90px !important;
}

.pl-90 {
  padding-left: 90px !important;
}

.m-95 {
  margin: 95px !important;
}

.mt-95 {
  margin-top: 95px !important;
}

.mb-95 {
  margin-bottom: 95px !important;
}

.mr-95 {
  margin-right: 95px !important;
}

.ml-95 {
  margin-left: 95px !important;
}

.p-95 {
  padding: 95px !important;
}

.pt-95 {
  padding-top: 95px !important;
}

.pb-95 {
  padding-bottom: 95px !important;
}

.pr-95 {
  padding-right: 95px !important;
}

.pl-95 {
  padding-left: 95px !important;
}

.m-100 {
  margin: 100px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.p-100 {
  padding: 100px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.pr-100 {
  padding-right: 100px !important;
}

.pl-100 {
  padding-left: 100px !important;
}

/*INPUT AND BUTTON*/
input {
  outline: inherit;
}

button {
  outline: inherit;
}

button:focus {
  outline: none !important;
}

button:disabled,
button[disabled] {
  background: #f3f3f3;
  border: 2px solid #d2d2d2;
  color: #303030;
}

/*WIDTH AND HEIGHT*/
.h-100 {
  height: 100%;
}

.hscreen, .login {
  height: 100vh;
}

.w-100, .btn, .form-rb {
  width: 100%;
}

.wscreen {
  width: 100vw;
}

/* POSITION */
.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.fix {
  position: fixed !important;
}

.floatl {
  float: left !important;
}

.floatr, .log {
  float: right !important;
}

.floatn {
  float: none !important;
}

.hcenter {
  float: none !important;
  margin: auto;
  clear: both;
}

.vcenter {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.z9 {
  z-index: 999 !important;
}

.cb {
  clear: both;
}

.block {
  display: block;
}

.pbottom {
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  margin-right: auto;
  margin-left: auto;
}

/*BORDER*/
.noborder, .form-rb {
  border: none !important;
}

.bl-0 {
  border-left: none !important;
}

.br-0 {
  border-right: none !important;
}

.bt-0 {
  border-top: none !important;
}

.bb-0 {
  border-bottom: none !important;
}

.nobr {
  border-radius: 0 !important;
}

.sideradius {
  border-radius: 30px !important;
}

.br-5 {
  border-radius: 5px !important;
}

.br-10 {
  border-radius: 10px !important;
}

.circle {
  border-radius: 50% !important;
}

.no-bs {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/*.box-shadow-5{
   -webkit-box-shadow:0px 0px 5px 0px #eee;
    -moz-box-shadow:0px 0px 5px 0px #eee;
    -o-box-shadow:0px 0px 5px 0px #eee;
}

.box-shadow-10{
   -webkit-box-shadow:0px 10px 0px 0px #ccc;
    -moz-box-shadow:0px 100px 0px 0px #ccc;
    -o-box-shadow:0px 100px 0px 0px #ccc;
}*/
/* SCROLLBAR */
body::scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

body::scrollbar-track {
  background-color: transparent;
}

body::scrollbar-thumb {
  background-color: #ccc;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #b6b6b6;
}

.scroll {
  overflow: scroll;
}

.noscroll {
  overflow: hidden;
}

.scroll-x {
  overflow-y: scroll;
}

.scroll-y {
  overflow-y: scroll;
}

.scroll-noy {
  overflow-y: hidden;
}

.scroll-nox {
  overflow-x: hidden;
}

/* SELECTION */
.pointer {
  cursor: pointer;
}

::selection, ::-ms-selection, ::-moz-selection, ::-o-selection, ::-webkit-selection {
  background: #14A689;
  color: #fff;
}

/* ANIMATION */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.poppins {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
}

.montserrat {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600;
}

.log {
  padding-left: 40px;
  padding-right: 40px;
}

input[type=search] {
  height: 40px !important;
  width: 250px !important;
}

.card-body .form-control {
  color: #0c0c0c !important;
}

@media screen and (max-width: 1024px) {
  body {
    background-size: 45%, 18%;
    background-position: -30vh -35vh, -13vh 15vh;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-size: 60%, 23%;
    background-position: -30vh -35vh, -17vh 15vh;
  }
}

@media screen and (max-width: 640px) {
  body {
    background-size: 80%, 30%;
    background-position: -30vh -35vh, -15vh 13vh;
  }
  .log {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 425px) {
  body {
    background-size: 100%, 35%;
    background-position: -30vh -32vh, -10vh 15vh;
  }
}

@media screen and (max-width: 320px) {
  body {
    background-size: 100%, 35%;
    background-position: -20vh -25vh, -10vh 10vh;
  }
}

#navbar {
  overflow: hidden;
  padding: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  padding: 12px;
  text-decoration: none;
  font-size: 12px;
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/*#navbar a:hover {
}

#navbar a.active {
}*/
#navbar-right {
  float: right;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}

@media screen and (max-width: 600px) {
  #navbar-right {
    display: none;
  }
}

.btn {
  border-radius: 17px !important;
}

.login {
  background: url(../images/blob-bg-login.svg) no-repeat;
  background-size: 46%;
  background-position: right bottom;
  overflow-x: hidden;
}

.form-rb {
  /*-webkit-box-shadow: 0px 2px 2px #dfdfe1;*/
  border-radius: 5px !important;
}

input:focus {
  outline: none;
}

.p-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.img img {
  width: 450px;
}

form {
  width: 360px;
}

.login-content img {
  height: 130px;
}

.login-content h2 {
  margin: 15px 0;
  font-size: 1.5rem !important;
}

.login-content .input-div {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7% 93%;
      grid-template-columns: 7% 93%;
  margin: 15px 0;
  padding: 5px 0;
  background: #fff;
  border: 1px solid #eee;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.i i {
  -webkit-transition: .3s;
  transition: .3s;
}

.input-div > div {
  position: relative;
  height: 40px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #999;
  font-size: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.input-div:before, .input-div:after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #38d39f;
  -webkit-transition: .4s;
  transition: .4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before, .input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  display: none;
}

.input-div.focus > .i > i {
  color: #38d39f;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 0.8rem;
  color: #555;
}

.input-div.pass {
  margin-bottom: 4px;
}

a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  -webkit-transition: .3s;
  transition: .3s;
}

a:hover {
  color: #38d39f;
}

.btn-login {
  display: block;
  width: 100%;
  height: 45px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#32be8f), color-stop(#38d39f), to(#32be8f));
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-size: 200%;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-login:hover {
  background-position: right;
}

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }
  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }
  .img img {
    width: 300px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .img {
    display: none;
  }
  .wave {
    display: none;
  }
  .login-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */