*{
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}

.poppins{
    @extend .text-hitam;
    font-family: 'Poppins', sans-serif $imp;
    font-weight: 400;
}

.montserrat{
    @extend .text-hitam;
    font-family: 'Montserrat', sans-serif $imp;
    font-weight: 600;
}

.log{
    @extend .p-0, .floatr;
    padding-left: 40px;
    padding-right: 40px
}

input[type=search] {
    @extend .p-10;
    height: 40px $imp;
    width: 250px $imp;
}

.dataTables_wrapper{
    @extend .p-0
}

@media screen and (max-width: 1024px) {
    body{
        background-size: 45%, 18%;
        background-position: -30vh -35vh, -13vh 15vh;
    }
}

@media screen and (max-width: 768px) {
    body{
        background-size: 60%, 23%;
        background-position: -30vh -35vh, -17vh 15vh;
    }
}

@media screen and (max-width: 640px) {
    body{
        background-size: 80%, 30%;
        background-position: -30vh -35vh, -15vh 13vh;
    }
    
    .log{
        padding-left: 10px;
        padding-right: 10px;
    }
}


@media screen and (max-width: 425px) {
    body{
        background-size: 100%, 35%;
        background-position: -30vh -32vh, -10vh 15vh;
    }
}

@media screen and (max-width: 320px) {
    body{
        background-size: 100%, 35%;
        background-position: -20vh -25vh, -10vh 10vh;
    }
}

#navbar {
  overflow: hidden;
  padding: 30px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  @extend .text-hijau, .alignc;
  float: left;
  padding: 12px;
  text-decoration: none;
  font-size: 12px; 
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  @extend .text-hijau;
  font-size: 20px;
  font-weight: bold;
  transition: 0.4s;
}

/*#navbar a:hover {
}

#navbar a.active {
}*/

#navbar-right {
  float: right;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}

@media screen and (max-width: 600px) {
    #navbar-right{
        display: none
    }
}

.btn{
    @extend .w-100, .fs-11, .pl-20, .pr-20, .pt-10, .pb-10;
    border-radius: 17px $imp;
}

.btn-primary{
    @extend .bg-hijau;
}

.login{
    @extend .pl-30, .pr-30, .hscreen;
    background: url(../images/blob-bg-login.svg) no-repeat;
    background-size: 46%;
    background-position: right bottom;
    overflow-x: hidden;
}

label{
    @extend .fs-11, .fw-600
}

.form-rb{
    @extend .w-100, .noborder, .fs-9, .fw-500, .p-10, .pb-0;
    /*-webkit-box-shadow: 0px 2px 2px #dfdfe1;*/
    border-radius: 5px $imp
}

input:focus{
    outline: none
}

.p-8{
    padding-top: 8px $imp;
    padding-bottom: 8px $imp;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 450px;
}

form{
	width: 360px;
}

.login-content img{
    height: 130px;
    @extend .mb-10
}

.login-content h2{
	margin: 15px 0;
	font-size: 1.5rem $imp;
    @extend .fw, .mb-20
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 15px 0;
    padding: 5px 0;
    background: #fff;
    border: 1px solid #eee;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
    margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
    align-items: center;
    @extend .ml-10
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 40px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 15px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	display: none
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
    background: none;
	padding: 0.5rem 0.7rem;
	font-size: 0.8rem;
	color: #555;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #38d39f;
}

.btn-login{
	display: block;
	width: 100%;
	height: 45px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 0.9rem;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
    transition: .5s;
    @extend .text-putih, .ls-3
}
.btn-login:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 300px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}